DATABASE_URL = 
REMOVEBG_KEY = 'yepeTQaFk7r9ymusihgXYvdN'
PREFIX = '.'
MODE = 'private'
autoRead= 'false'
BOTNAME = 'ULTRA-MD'
antidelete = 'true'
BOT_NUMBER= '256762612066'
OWNERS = 'gt-tech'
SESSION_ID = 'HQQiUQrL#NrrU69dM_xDy9KOS9fgNu64YA8DiMP_ASZPpDTA5-68'
