# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL = 
REMOVEBG_KEY = 'yepeTQaFk7r9ymusihgXYvdN'
PREFIX = '.'
MODE = 'private'
autoRead= 'false'
BOTNAME = 'ULTRA-MD'
antidelete = 'true'
BOT_NUMBER= '256762612066'
OWNERS = 'GT_GRAPHiX'
SESSION_ID = 'KdYiQT6L#bwa--pqfaNgdEqhtDkjX65HDdvC6YLyAL140Ahbjg5I'
